@tailwind base;
@tailwind components;
@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&family=Trispace&display=swap");
@import url("https://fonts.cdnfonts.com/css/code-saver");

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3ClinearGradient id='MyGradient' gradientTransform='rotate(90)'%3E%3Cstop offset='0%25' stop-color='%23c084fc' /%3E%3Cstop offset='100%25' stop-color='%232dd4bf' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='pattern' x='-15' patternUnits='userSpaceOnUse' width='100' height='100'%3E%3Cg id='chevron' %3E%3Cpath fill='url(%23MyGradient)' d='M48.0823 25.9386L47.0377 25.6772C46.7844 25.6138 46.5178 25.6286 46.2731 25.7195C46.0283 25.8103 45.8167 25.973 45.666 26.1863C45.5152 26.3994 45.4324 26.6531 45.4284 26.9141C45.4243 27.1751 45.4993 27.4312 45.6434 27.6488L46.5793 29.0625C45.2066 28.8936 43.8098 28.9432 42.4467 29.2159L40.5834 29.5884C40.2896 29.6469 40.0252 29.8055 39.8353 30.0371C39.6454 30.2687 39.5417 30.559 39.5418 30.8586L39.5414 33.9C37.1841 33.6857 35.0678 33.493 35.0678 33.493C34.6845 33.4581 34.3062 33.5951 34.0343 33.867C33.7624 34.1389 33.6251 34.5174 33.6604 34.9004L34.0669 39.3746L31.026 39.3744C30.7265 39.3743 30.4361 39.478 30.2045 39.6679C29.9728 39.8578 29.8141 40.1222 29.7555 40.4159L29.383 42.2796C29.1101 43.6425 29.0609 45.0394 29.2299 46.4119L27.8159 45.4764C27.5982 45.3323 27.342 45.2573 27.081 45.2613C26.82 45.2653 26.5663 45.3481 26.3531 45.4988C26.14 45.6497 25.9775 45.8613 25.8867 46.1061C25.7958 46.3509 25.781 46.6174 25.8442 46.8707L26.1055 47.9146C27.276 52.5954 29.6965 56.8702 33.1082 60.282L37.9599 65.1338C41.6112 68.7851 46.4659 70.7961 51.6297 70.7959C56.7932 70.7959 61.6477 68.7851 65.3 65.1328L65.301 65.1318C68.9524 61.4804 70.9629 56.6261 70.9629 51.4626C70.9631 46.2989 68.9522 41.4442 65.3008 37.7928L60.4491 32.9411C57.0374 29.5296 52.7629 27.1091 48.0823 25.9386V25.9386ZM42.1326 31.9207L42.9546 31.7562C44.7202 31.4042 46.5469 31.5161 48.2563 32.081C48.7558 33.3354 49.0475 34.6599 49.1227 36.0175C46.9142 34.9933 44.566 34.3599 42.1324 34.1357L42.1326 31.9207ZM36.3811 36.2142C37.8099 36.3439 39.9884 36.5422 41.8721 36.7135C44.2026 36.9253 46.444 37.563 48.5342 38.6082L49.0593 38.8712L48.9866 40.4663C48.8212 44.1023 49.565 47.6936 51.0942 50.9269C47.8608 49.398 44.2693 48.6542 40.6334 48.8196L39.0383 48.8923L38.7755 48.3673C37.7295 46.2756 37.092 44.034 36.8801 41.7047L36.3811 36.2142ZM31.9237 42.7872L32.0878 41.9655L34.3028 41.9653C34.5268 44.3976 35.1596 46.7456 36.1848 48.9555C34.827 48.8804 33.5024 48.5887 32.2485 48.0889C31.6833 46.3795 31.5714 44.5528 31.9237 42.7872V42.7872ZM39.7919 63.3018L34.9401 58.4501C32.4154 55.9254 30.4913 52.8753 29.298 49.5306C31.8151 50.9882 34.6627 51.6851 37.5902 51.5521L40.7511 51.4078C46.2167 51.1588 51.5705 53.2352 55.4396 57.1043L62.5169 64.1817C55.9471 69.8142 46.0112 69.5211 39.7919 63.3018ZM63.4688 39.6248C69.6882 45.8442 69.9823 55.779 64.3489 62.3497L57.2716 55.2724C53.4025 51.4033 51.3259 46.0496 51.5748 40.5841L51.719 37.4226C51.8521 34.4957 51.1554 31.6482 49.6979 29.1308C53.0523 30.3275 56.0988 32.2547 58.6172 34.773L63.4688 39.6248Z' /%3E%3C/g%3E%3C/pattern%3E%3Cmask id='mask'%3E%3Crect width='100%25' height='100%25' fill='url(%23pattern)'/%3E%3C/mask%3E%3Crect width='100%25' height='100%25' fill='url(%23MyGradient)' mask='url(%23mask)' /%3E%3C/svg%3E");
  }
  ::selection {
    @apply text-yellow-600 bg-transparent;
  }
  .remark-code-wrapper {
    @apply absolute right-0 py-1 px-2 bg-gray-700 select-none transform translate-x-10 -translate-y-2 rotate-12 hidden shadow-sm dark:bg-gray-600;
  }
  .remark-code-title {
    @apply font-mono text-sm italic text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-teal-500 font-semibold;
  }

  .link {
    @apply transition duration-150 hover:rotate-0 transform;
  }

  .link:before {
    @apply absolute top-3 left-2 w-full opacity-0 bg-gradient-to-br from-purple-400 to-teal-500 transition duration-150;
    content: "";
    height: 50%;
    z-index: -1;
  }

  .active {
    @apply -rotate-2 transition duration-150 hover:rotate-0 transform text-purple-600 dark:text-purple-300;
  }

  .active:before {
    @apply opacity-25;
  }

  .link:hover:before {
    @apply opacity-50;
  }

  @screen md {
    .remark-code-wrapper {
      @apply inline-flex;
    }
  }

  .remark-code-wrapper + pre {
    margin-top: 0 !important;
  }
}

@tailwind utilities;
